@import url('https://fonts.googleapis.com/css?family=Alatsi|Ubuntu&display=swap');

body {
    color: #f5f5f5;
    background-color: #262626;
    font-family: Ubuntu;

}

* {
    margin: 0;
    padding: 0;

}

.container-fluid {
    padding: 0;
    margin: 0;
}

dl,
ol,
ul {
    margin-bottom: 0;
}

/*---navbar---*/

#menulogo {
    font-size: 110%;
    color: #ca0c04;
    text-align: left;
    font-weight: bold;
    display: inline;
    letter-spacing: 3px;
    padding-left: 10px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 3px;
}

#menu li {
    list-style: none;
    line-height: 60px;
    padding-right: 10px;
    justify-content: flex-end;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #ca0c04;
}

.navbar-dark .navbar-nav .nav-link {
    text-align: right;

}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: #595959;
    text-align: right!important;

}

.navbar-dark .navbar-toggler:focus {
    border-color: #ca0c04;
    outline: none!important;
}

/*footer*/

.social-networks {
    text-align: center;
    background-color: black;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: #777777;
}

.social-networks i:hover {
    color: #ca0c04;
}

/*--- Hero Image Index page---*/

.hero-image {
    background: url("../images/hero2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-name {
    font-size: 700%;
    color: #ca0c04;
    text-shadow: 3px 3px 3px black;
    padding-top: 200px;
    font-weight: bolder;
    padding-left: 30px;
    font-family: Alatsi;
    display: inline-block;

}

.hero-title {
    font-size: 300%;
    color: #ca0c04;
    text-shadow: 2px 2px 2px black;
    padding-top: 1px;
    padding-left: 30px;
    font-family: Alatsi;
    display: inline-block;
}

.hero-quote {
    font-size: 250%;
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px darkgrey;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family: Alatsi;
    display: inline-block;
}

/*-- index page - about links --*/

.card-img-bottom {
    border-radius: 5px;
}

.about {
    line-height: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    background-color: #262626;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

}

.about p {
    padding-left: 10px;
    padding-right: 10px;
}

.about:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.linkabout {
    text-decoration: none;
    color: #ca0c04;
}

.linkabout:hover {
    border-bottom: 1px solid #ca0c04;
    text-decoration: none;
    color: #f5f5f5;
}

hr {
    border-top: 2px solid #595959;
    width: 90%;
    margin: 10px;
    text-align: center;
}

#history {
    line-height: 20px;
    clear: both;
    margin-bottom: 40px;
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;

}

#history h1 {
    padding: 10px;
    font-size: 275%;
    color: #ca0c04;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
}


/* plans */

#phero-name {
    font-size: 700%;
    color: #ca0c04;
    text-shadow: 3px 3px 3px black;
    padding-top: 70px;
    font-weight: bolder;
    padding-left: 20px;
    font-family: Alatsi;
}


#phero-title {
    font-size: 250%;
    color: #ca0c04;
    text-shadow: 2px 2px 2px black;
    padding-top: 1px;
    padding-left: 20px;
    font-family: Alatsi;
}

#phero-quote {
    font-size: 200%;
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px darkgrey;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-family: Alatsi;
}

.plan-type {
    display: inline-block;
}

.plans-image {
    background: url("../images/plans.jpg");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.plans-image2 {
    background: url("../images/plans2.jpg");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.plans-title {
    font-size: 400%;
    color: #ca0c04;
    opacity: 0.9;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

.plans-quote {
    font-size: 150%;
    color: #ca0c04;
    opacity: 0.9;
    padding-top: 5px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.table {
    background-color: #262626!important;
    color: #f5f5f5;
    text-align: center;
}

.h-100 {
    height: auto!important;
}

.card-deck {
    margin-left: 0;
    margin-right: 0;
}

.card {
    background-color: #262626!important;
    text-align: center;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.7);
    margin-left: 0;
    margin-right: 0;

}

.card-body {
    background-color: #262626!important;
    border-color: #262626!important;
}

.card-title {
    text-decoration: underline;
}

.card:hover {
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 1);
}

#plansdescription h1 {
    color: #ca0c04;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#plansdescription i {
    color: #f5f5f5;
}

#plansdescription i:hover {
    color: #ca0c04;
}


#footnote {
    color: #f5f5f5;
    re-size: 90%;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.download {
    text-align: center;
    font-size: large;
    margin-top: 50px;
}

.download-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

.download-pdf i:hover {
    color: #a62d2d;
}

.downloadsmall {
    padding-left: 10px;
    text-align: center;
    padding-right: 10px;

}


/*reviews*/

.reviewtitlebg {
    background-color: black;
    padding-bottom: 20px;
}


#review-title {
    font-size: 450%;
    color: #ca0c04;
    text-shadow: 1px 1px 2px black;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Alatsi;
    text-align: center;
    margin-bottom: 20px;

}

#review-quote {
    font-size: 190%;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    word-spacing: 3px;

}

#reviewgallery {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: 20px;
    letter-spacing: 0.8px;
}

#reviewgallery h3 {
    letter-spacing: 1px;
    line-height: 30px;
    padding: 10px;
}

#reviewgallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-color: #595959;
}

.desc {
    font-size: 100%;
    line-height: 25px;
    padding: 20px 10px 20px 10px;

}

/*contact*/

#contact {
    background: url("../images/contact.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    margin-top: 6px;
    padding-bottom: 20px;
    text-align: center;

}

#contact-title {
    font-size: 400%;
    color: #ca0c04;
    text-shadow: 1px 1px 2px black;
    padding-top: 1px;
    font-weight: bold;
    font-family: Alatsi;
    text-align: center;
    margin-bottom: 30px;

}


.contactform {
    width: 100%;
    padding: 30px 10%;
    font-size: larger;
    color: #f5f5f5;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-control:focus {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.7);
    border-color: #595959;
}

.btn {
    background-color: #ca0c04;
    font-weight: bold;
    font-family: inherit;
    color: #f5f5f5;

}

.btn:focus {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.check {
    background-color: black;
    text-align: center;
    margin-bottom: 0;
    font-family: Alatsi;
    letter-spacing: 0.5px;
    padding-top: 6px;
}


@media (max-width: 435px) {

    #menulogo {
        display: none;
    }


    .hero-name {
        font-size: 500%;
        padding-top: 200px;
        line-height: 90px;
    }

    .hero-title {
        font-size: 220%;
        line-height: 50px;
    }

    .hero-quote {
        font-size: 170%;
        padding-bottom: 50px;
    }

    .card-deck {
        column-count: 1;
        width: 100%;
    }

    .container-fluid {
        column-count: 1;
    }
}


@media only screen and (min-width: 560px) and (max-width: 1220px) {
    .hero-name {
        font-size: 600%;
        padding-top: 260px;
        line-height: 90px;
    }
}

@media only screen and (min-width: 1220px) {
    .contactform {
        width: 50%;
        margin-left: 25%;
    }
}

@media only screen and (min-width: 768px) {
    .contactform {
        width: 70%;
        margin-left: 15%;
    }
}






@media (max-width: 560px) {

    #phero-name {
        font-size: 500%;
        padding-top: 60px;
        line-height: 90px;
    }

    #phero-title {
        font-size: 200%;
        line-height: 45px;
    }

    #phero-quote {
        line-height: 40px;
        font-size: 180%;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center !important;

    }

    #planstable {
        display: none;
    }

    .plans-title {
        font-size: 200%;
    }

    .plans-quote {
        font-size: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    br {
        display: none;
    }

    .check {
        font-size: 120%;

    }
}


@media only screen and (min-width: 560px) and (max-width: 1220px) {
    #phero-name {
        font-size: 600%;
        padding-top: 60px;
        line-height: 90px;
    }
}

@media (min-width: 560px) {

    .downloadsmall {
        display: none;

    }
}



@media (min-width: 1030px) {

    .hero-image {
        height: 800px;
    }

}

@media (min-width: 1700px) {

    .hero-image {
        height: 1200px;
    }
}

@media (min-width: 2055px) {

    .hero-image {
        height: 1400px;
    }

    body {
        width: 1700px;
        margin-left: 18%;
        background-color: black;
    }
}
